@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --bg: #258bf1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    background-color: #ffffff;
}
.body{
    // border: 1px solid black;
    // width: min-content;
    // height: min-content;

    display: flex;
    justify-content: space-evenly;
    .content{
        border: 1px solid black;
        width: 36%;
        margin-top: 2em;
        // height: min-content;
        height: 40vh;
        // justify-content: ;
        // display: block;
        border-radius: 40px;
        margin-left: 5em;
        // justify-content: baseline;

        .text{
            margin-top: 3em;
            margin-left: 2em;
            // border: 1px solid black;
            .cc{
                // border: 1px solid black;
                font-size: 5em;
                letter-spacing: 45px;
                color: #9FD2DB;
            }
            .ccagc{
                // border: 1px solid black;
                font-size: 18px;
                margin-top: -1.5em;
                margin-left: .5em;
                // text-decoration: underline;
            }
        }

        .qoute{
            border: 1px solid black;
            margin: 3em 0 0 .1em;
            font-size: 22px;
            padding: .5em;
            border-radius: 30px;
            .txt{
                padding: .3em;
                border-radius: 50px;
            }
            .auther{
                // border: 1px solid black;
                margin-left: 17em;
                // margin: .5em;
                width: max-content;
                border-radius: 50px;
            }
        }

        .btn{
            // border: 1px solid black;
            margin: 3em 2em;
            a {
                button{
                    // color: black;
                    background-color: #144592;
                    text-decoration: none;
                    // margin-top: -5em;
                    padding: 10px 25px;
                    font-size: 18px;
                    text-decoration: none;
                    text-align: center;
                    // background: #2196f3;
                    border: 2px solid white;
                    border-radius: 25px;
                    color: white;
                }
                
            }
        }
    }
    .img{
        // transition: margin-left 1s;
        margin-top: -2.8em;
        // z-index: -999;
        // border-radius: 50px;
        // border: 1px solid black;
        img{
            // border: 1px solid black;
            // opacity: .9;
            // border-radius: 50px;
            width: 50vw;
        }
    }
}