@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --bg: #258bf1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
    // background-color: red;
}
.intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: .5em 12em 0 9em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2em;
    .txt{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        .heading{
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
            border-radius: 50px;
            border-bottom-left-radius: 0px;
            padding: 8px 15px;
            font-weight: bold;
            background-color: #325064;
            font-size: 25px;
            color: white;
        }
        .para1{
            p{
                width: 40vw;
                margin-top: .1em;
                padding: 1em;
                border-top-right-radius: 30px;
                font-size: 16.5px;
                background-color: #145699;
                color: white;
            }
        }
        .para2{
            p{
                border-radius: 30px;
                width: 40vw;
                padding: 1em;
                margin: .02em;
                font-size: 38px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                font-size: 16.5px;
                background-color: #4a7b99;
                color: white;
            }
        }
    }
    .img{
        margin-right: 2em;
        img{
            width: 35vw;
            height: 52vh;
            border-radius: 50px;
        }
    }

}

.other{
    margin: .5em 12em 1em 9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .img{
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
        img{
            border-radius: 30px;
            width: 33vw;
            height: 60vh;
        }

        .btn{
            margin-top: 4em;
            a {
                button{
                    color: white;
                    background-color: rgb(0, 0, 0);
                    text-decoration: none;
                    padding: 10px 25px;
                    font-size: 20px;
                    text-decoration: none;
                    text-align: center;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                button:hover{
                    background-color: rgb(85, 79, 79);
                    border-color: rgb(5, 0, 0);
                    text-decoration: none;
                    padding: 10px 25px;
                    font-size: 20px;
                    text-decoration: none;
                    text-align: center;
                    border-top-right-radius: 50px;
                    border-top-left-radius: 50px;
                    border-bottom-right-radius: 50px;
                    border-bottom-left-radius: 50px;
                    color: white;
                }    
            }
        }

    }
    .text{
        .obj{
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 8px 20px;
            font-weight: bold;
            background-color: rgb(0, 78, 0);
            font-size: 25px;
            margin-bottom: 2px;
            color: white;
        }
        .list{
            ul{
                li{
                    list-style: none;
                    border: 2px solid rgb(4, 114, 4);
                    margin: .2em;
                    padding: .5em;
                    width: 40vw;
                    border-radius: 10px;
                    background-color: #97ffa5;
                }
            }
        }
    }

}