@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --bg: #258bf1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    // background-color: red;
}

.main {
    margin: .5em;

    // border: 1px solid black;
    .container {
        margin: 1em 7em;
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;

        nav {
            // border: 2px solid red;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .presi_logo {
                margin: 1em;
                // border: 2px solid black;
                width: min-content;

                // border-radius: 35px;
                img {
                    width: 40vw;
                    height: 10vh;
                    // border-radius: 50%;
                }

            }

            .links {
                margin: 1em;
                // border: 2px solid black;
                width: 30%;

                margin-top: 2em;
                height: 50px;
                margin-right: 7em;

                display: flex;

                justify-content: space-between;

                .ul1 {
                    width: 100%;
                    // border: 2px solid black;
                    display: flex;
                    justify-content: space-evenly;

                    // .ul1{}
                    ul {
                        list-style-type: none;
                        display: flex;
                        justify-content: space-evenly;

                        li {
                            // width: 1px;
                            margin-top: .8em;
                            // list-style: none;
                            text-align: center;

                            a {
                                // width: 50px;
                                color: black;
                                background-color: #1F3443;
                                // text-decoration: none;
                                // margin: .5em;
                                padding: 10px 20px;
                                text-decoration: none;
                                text-align: center;
                                // background: #2196f3;
                                border: 2px solid white;
                                border-radius: 25px;
                                color: white;
                            }
                        }
                    }
                }

                .ul2 {
                    // border: 1px solid black;
                    ul {
                        // text-decoration: none;
                        list-style: none;
                        li {
                            margin-top: .8em;
                            a {
                                color: black;
                                background-color: #062A62;
                                text-decoration: none;
                                // margin-top: -5em;
                                padding: 10px 20px;
                                text-decoration: none;
                                text-align: center;
                                // background: #2196f3;
                                border: 2px solid white;
                                border-radius: 25px;
                                color: white;
                            }
                        }
                    }
                }

                // font: 1em;
                // color: red;
            }
        }

    }
}