{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% block title %} Feedback {% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/feedback_page_1.css' %}" />

{% block content %}
{%  include 'navbar.html' %}
<div class="container">
  <div class="title">Feedback</div>
  <div class="content">
    <form method="POST">
      {% csrf_token %}

      <div class="user-details">
        <div class="input-box">
          {% for field in form %}
          <span class="details">{{ field.label }}</span>
          {{ field }} {% endfor %}
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
