<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home Page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>
{% load static %}
{%  include 'navbar.html' %}


<body>
    <div class="body">
        <div class="content">
            <div class="text">
                <div class="cc">
                    CCAGC
                </div>
                <div class="ccagc">
                    Career Counselling and Guidance Cell
                </div>
            </div>
            <div class="btn">
                <a href="{% url 'introduction' %}"><button> Learn More</button></a>
            </div>
            <div class="qoute">
                <div class="txt">
                    “Build your own dreams, or someone else will hire you to build theirs.”
                </div>
                <div class="auther">
                    Farrah Gray
                </div>
                
            </div>

        </div>

        <div class="img">
            <img src="./images/157-1578428_service-career-counselling-vector-png.png" alt="">
        </div>
        
    </div>
</body>
</html>