<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Importance Page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/importance_page.css' %}">
    
</head>
{% load static %}
{%  include 'navbar.html' %}
{%  include 'navbar.html' %}

<body>
    <div class="txt">
        <div class="section1">
            <div class="tx">
                <div class="heading">
                    WHY IS CAREER GUIDANCE IMPORTANT FOR STUDENTS ?
                </div>
                <div class="text">
                    <ul>
                        <li>
                            Career is a significant part of our lives today and any decision in terms of career planning 
                            now has to be taken with the utmost attention. With numerous courses, certifications, 
                            colleges, job opportunities available, choosing the right career path could become 
                            intimidating for students.
                        </li>
                        <div class="f1">
                        <li>
                            An adequate choice of career will not only offer an effective job opportunity but allows a 
                            student to embrace a satisfactory and respectful lifestyle.
                        </li>
                        <li>
                            Career counselling and guidance cell helps in empowering the students towards making the 
                            right career choices early on in their lives.
                        </li>
                        </div>
                        <div class="f2">
                        <li>
                            Career counselling and guidance process involves students exploring various career 
                            options, understanding more about the opportunities, analysing the career prospects and 
                            earning potential.
                        </li>
                        </div>
            
                    </ul>
                </div>
            </div>
            <div class="img">
                <img src="./images/importance-of-career-counselling-collegepond-1.png" alt="">
            </div>
        </div>


        <div class="section2">
            <div class="img">
                <img src="./images/19732-1000x665.webp" alt="">
            </div>
            <div class="xt">
                <div class="beni">
                    BENEFITS OF CAREER COUNSELLING AND GUIDANCE
                </div>

                <div class="text">
                    <ul>
                        <li>You clarify your career goals.</li>
                        <div class="f1">
                        <li>It helps you understand your career options.</li>
                        <li>Determining strengths, interests and values.</li>
                        <li>Setting direction and goals.</li>
                        <li>Discards confusion.</li>
                        <li>Support and motivation.</li>
                        </div>
                        <div class="f2">
                        <li>You broaden your perspective.</li>
                        </div>
                    </ul>
                </div>
            </div>
            
        </div>
        
        
        <div class="section3">
            <div class="guid">
                GUIDELINES
            </div>
            <div class="txte">
                
                <div class="steps">
                    <table>
                        <tr>
                            <td class="sp"><div class="f4">Step 1 :</div></td>
                            
                            <td class="txt"><div class="f3">The CCGC will arrange for talks/seminar by the experts periodically to help students 
                                choose their career options.</div></td>
                            
                        </tr>
                        <tr>
                            <td class="sp"><div class="f4">Step 2 :</div></td>
                            <td class="txt"><div class="f3">Interested students should register for the talk/seminar through the registration link 
                                shared by CCGC</div></td>
                        </tr>
                        <tr>
                            <td class="sp"><div class="f4">Step 3 :</div></td>
                            <td class="txt"><div class="f3">All the registered students should proactively participate in the event conducted</div></td>
                        </tr>
                        <tr>
                            <td class="sp"><div class="f4">Step 4 :</div></td>
                            <td class="txt"><div class="f3">A feedback will be collected from the students who participated in the event.</div></td>
                        </tr>
                        <tr>
                            <td class="sp"><div class="f4">Step 5 :</div></td>
                            <td class="txt"><div class="f3">If any student requires personal counselling, he/she must fill registration form given in 
                                the Annexure-I below. </div></td>
                        </tr>
                        <tr>
                            <td class="sp"><div class="f4">Step 6 :</div></td>
                            <td class="txt"><div class="f3">We use this form to learn more about you and how we can best serve 
                                you during your appointment.</div></td>
                        </tr>
                        <tr>
                            <td class="sp"><div class="f4">Step 7 :</div></td>
                            <td class="txt"><div class="f3">After the counselling session, the student must fill the feedback form regarding the 
                                personal counselling session</div></td>
                        </tr>
                    </table>
                </div>

                <div class="img">
                    <img src="./images/cc.png" alt="">
                </div>
                    
                
            </div>
        </div>
    </div>
</body>
</html>