<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Introduction Page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/introduction_page.css' %}">
    
</head>
{% load static %}
{%  include 'navbar.html' %}

<body>
    <div class="intro">
        
        <div class="txt">
            <div class="heading">
                INTRODUCTION
            </div>
            <div class="para">
                <p>
                    Career counseling is a process that focuses on helping one understand one's own self, so that 
                    one can take an informed decision about career and education. Career guidance is the guidance 
                    given to individuals to help them acquire the knowledge, information, skills, and experience 
                    necessary to identify career options, and narrow them down to make one career decision.
                    Career counseling helps them understand the career options that they have, and how to 
                    pursue them. 
                </p>
                <p>
                    Career counseling also helps them understand their own strengths and weaknesses 
                    with regard to their present course or profession, and lets them know what career they would 
                    be suited for. Career guidance helps individuals make a shift from the general understanding 
                    of life and work to a more specific understanding of the realistic and practical career options 
                    that are available to them. 
                </p>
            </div>
        </div>

        <div class="img">
            <img src="./images/2914483-1.jpg" alt="">
        </div>
    </div>
    <!-- <hr> -->
    <div class="other">
        <div class="img">
            <img src="./images/p-orientation.svg" alt="">

            <div class="btn">
                <a href="{% url 'importance' %}"><button>Importance of ccagc</button></a> 
            </div>
        </div>
        <div class="text">
            <div class="obj">
                OBJECTIVES
            </div>
            <div class="list">
                <ul>
                    <li>
                        To promote discipline, healthy outlook and positive attitudes among students on 
                        placements.
                    </li>
                    <li>
                        Motivate students to take up jobs as per the current market trends and availability.</li>
                    <li>
                        To conduct a survey among students on their career options.
                    </li>
                    <li>
                        To create awareness about the importance of higher studies in India and Abroad.</li>
                    <li>
                        To conduct career development seminars and workshops.
                    </li>
                    <li>
                        To gather information on internship opportunities in different industrial segments
                    </li>
                    <li>
                        Help students to acquire/meet the expectations from industry by bringing industry people 
                        to university 
                    </li>
                    <li>
                        Address students so that students will know what is expected of 
                        them when they take up a job.
                    </li>
                    <li>
                        To work closely with the placement team and identify the gaps that the university needs 
                        to fill/ bridge 
                    </li>
                    <li>
                        And communicate the same to schools/ departments.
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
</html>