<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Members Page {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/members_page.css' %}" />
  </head>
  {% load static %} {% include 'navbar.html' %}

  <body>
    <div class="containe">
      <div class="heading">CCGC MEMBERS</div>
      <div class="content">
          <div class="table">
              <table>
                  <tr>
                      <th>SL NO</th>
                      <th>NAME</th>
                      <th>DESIGNATION</th>
                      <th>Dept/School</th>
                      <th>POSITION</th>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>Mr. Srivinay</td>
                      <td>Assistant Professor</td>
                      <td>CSE/SOE</td>
                      <td>Coordinator</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Mr. Amogh P K</td>
                      <td>Assistant Professor</td>
                      <td>CSE/SOE</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Dr. Swetha P C</td>
                      <td>Assistant Professor</td>
                      <td>CSE/SOE</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>Ms. Diana Steffi</td>
                      <td>Assistant Professor</td>
                      <td>ECE/SOE</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>Ms. Arpitha G R</td>
                      <td>Assistant Professor</td>
                      <td>MECH/SOE</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>Mr. Anmol Bhargava</td>
                      <td>Assistant Professor</td>
                      <td>PET/SOE</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>7</td>
                      <td>Ms. Sneha S Bagalkot</td>
                      <td>Assistant Professor</td>
                      <td>SOIs</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>8</td>
                      <td>Mr. Mrutyunjaya M S</td>
                      <td>Assistant Professor</td>
                      <td>SOIs</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>9</td>
                      <td>Mr. Sandeep K N</td>
                      <td>Assistant Professor</td>
                      <td>SOD</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>10</td>
                      <td>Mr. Sandeep K N</td>
                      <td>Assistant Professor</td>
                      <td>SOC</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>11</td>
                      <td>Dr. Jencypriyadharshany</td>
                      <td>Assistant Professor</td>
                      <td>SOC</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>12</td>
                      <td>Ms. Sakshi Pandey</td>
                      <td>Assistant Professor</td>
                      <td>SOL</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>13</td>
                      <td>Ms. Aparna Shukla</td>
                      <td>Assistant Professor</td>
                      <td>SOL</td>
                      <td>Member</td>
                  </tr>
                  <tr>
                      <td>14</td>
                      <td>Mr. Arabinda Bhandari</td>
                      <td>Assistant Professor</td>
                      <td>SOM</td>
                      <td>Member</td>
                  </tr>
              </table>
          </div>

          <div class="img">
              <img src="./images/2936436.jpg" alt="">
          </div>
      </div>
      

  </div>
  </body>
</html>
