{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="main">
    <div class="container">
        <nav>
            <div class="presi_logo">
                <img src="./images/presidency-logo.webp" alt="">
            </div>
            <div class="links">
                <div class="ul1">
                    <ul >
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="#">Events</a></li>
                        {% comment %} {% url 'events' %} {% endcomment %}
                        <li><a href="{% url 'members' %}">Members</a></li>
                    </ul>
                </div>
                <div class="ul3">
                    <ul><li><a href="{% url 'feedback' %}">Feedback</a> </li></ul> 
                </div>
                <div class="ul2">
                    <ul><li><a href="{% url 'registration_page' %}">Register</a> </li></ul> 
                </div>
            </div>
        </nav>
    </div>
</div>