{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="main">
    <div class="container">
        <nav>
            <div class="presi_logo">
                <img src="./images/presidency-logo.webp" alt="">
            </div>
            <div class="links">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Events</a></li>
                    <li><a href="">Members</a></li>
                    <li><a href="">Register</a></li>
                </ul>   
            </div>
        </nav>
    </div>
</div>