<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Thank you for your Feedback
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/thankyouforfeedback.css' %}">
    
</head>
{% load static %}
{%  include 'navbar.html' %}

<body>
    thank you for your Feedback
</body>
</html>